<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">
    <!-- Layout container -->


<app-menu></app-menu>



    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
    <div class="layout-page">


    <router-outlet></router-outlet>
    </div>
      </div>
    </div>


        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>


         <!-- Drag Target Area To SlideIn Menu On Small Screens -->
          <div class="drag-target"></div>

           </div>
            <!-- / Layout wrapper -->

         </div>
